header{
  /* Rectangle 1 */


position: absolute;
width: 2526px;
height: 333px;
left: 40px;
top: 27px;

background: #C78CC1;

}

#gatinho2{
  position: absolute;
width: 169px;
height: 110px;
left: 83px;
top: 134px;

background: url(gatinho2-removebg-preview.png);
}
#instagram{
  position: absolute;
width: 345px;
height: 65px;
left: 1366px;
top: 128px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #000000;
}
#galeriadasmedalhas{
  /* galeria das medalhas */


  position: absolute;
  width: 738px;
  height: 87px;
  left: 1809px;
  top: 128px;

  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;

  color: #000000;

}
